html {
  background: url(https://factotumofarts.files.wordpress.com/2014/09/qdad_tictactoe_19september.jpg) no-repeat center center fixed;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.choice-container, .winner-container {
  width: 310px;
  height: 310px;
  border: solid 2px black;
  margin: 0 auto;  
}

.winner-container {
  position: relative;
  top: 18%;
  background-color: rgb(102,51,153, 0.7);
  outline: none;
}

h3 {
  font-size: 25px;
}

.choice-container {
  background-color: white;
}

.winner {
  margin-top: 35%;
  text-align: center;
  font-size: 40px;
  color: navy;
}

.choice-question {
  position: relative;
  top: 35%;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.board-container {
  width: 350px;
  height: 310px;
  margin: 0 auto;
  display: grid;
  margin-bottom: 30px;
}

.row {
  display: inline-flex;
  margin: 0 auto;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 70px;
  border: solid 2px black;
  background-color: white;
}

.cell:hover {
  background-color: darkturquoise;  
}

button {
  border: solid 1px black;
  padding: 5px 15px 5px 15px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: white;
  font-weight: bold;
  font-size: 25px;
}

button:hover {
  cursor: pointer;
  background-color: darkturquoise;
}

.resetButton {
  width: 80px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 15px;
  margin-left: 35%;
}

footer {
  padding: 5%;
}

.builtWith {
  font-weight: bold;
}

.fa-github {
  color: whitesmoke;
}

.fa-4x {
  color: black;
}

.fa-github:hover {
  color: rgb(85, 26, 139);
}

.github-profile-link {
  text-decoration-line: none;
  font-weight: bold;
}