.App {
  text-align: center;
}

.board-container {
  background-color: darkslateblue;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border-radius: 25px;
  display: grid;
}

.row {
  display: inline-flex;
  margin: 0 auto;
}

.cell {
  padding: 40px;
  font-size: 40px;
}
