@media only screen and (min-width: 320px) and (max-width: 425px){
    .board-container {
        width: 100vw;
    }


}

@media only screen and (min-width: 320px){
    .winner-container {
        top: 18%;
    }

    .builtWith {
        margin-top: 10%;
        margin-bottom: 20%;
    }

}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 45px;
    }

    h3 {
        font-size: 35px;
    }

    .choice-container, .winner-container {
        top: 25%;
        width: 462px;
        height: 462px;
    }

    .winner-container {
        font-size: 55px;
    }

    .winner {
        margin-bottom: 0;        
    }

    .resetButton {
        width: 140px;
        height: 50px;
        font-size: 23px;
    }

    .board-container {
        width: auto;
        height: auto;
    }

    .cell {
        width: 150px;
        height: 150px;
        font-size: 100px;
    }

    .builtWith {
        margin-top: 10%;
        margin-bottom: 10%;
    }


}

@media only screen and (min-width: 768px) {
    .builtWith {
        margin-top: 0;
        margin-bottom: 10%;
    }    
}